.form {
    background-color: #aac4d1;
    border-radius: 10px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
    max-width: 1600px;
    padding: 10px;
}

.form__header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #3a2f8e;
}

.form__label{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    color: #2f8e39;
    font-weight: 600;
    font-size: 30px;
    
}


.form__btn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}