.task__item {
  border: 2px solid #ed6742;
  font-weight: 400;
	font-size: 16px;
	line-height: 110%;
  color: black;
  text-align: center;
}

.task__item-btn {
  width: 15px;
  height: 15px;
}

.task__item-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.task__item-btn:hover {
  background-color: rgb(214, 214, 214);
}

.task__item-btn:active {
  background-color: rgb(37, 37, 37);
}

.task__item-btn:focus-visible {
  background-color: greenyellow;
}